/*BOUTON*/
$red:rgb(202, 60, 60);
$green:#8ac007;
$blue:rgb(66, 184, 221);
.btn{
	font-family: Arial,sans-serif;
	font-weight: bold;
	border-radius: 7px;
	cursor: pointer;
	transition-property:border-radius;
	transition-duration:0.1s;
	border: none;
	padding:7px;
	color: white;
	box-sizing: border-box;
		&:hover{
		border-radius: 7px;
		background-color:white;
			box-sizing: border-box;

		}
}
.btn-xsmall {
	@extend .btn;
    font-size: 70%;
}

.btn-small {
	@extend .btn;
	font-size: 80%;
}

.btn-large {
	@extend .btn;
    font-size: 110%;
}

.btn-xlarge {
	@extend .btn;
    font-size: 125%;
}
.btn-blue{
	@extend .btn;
	background-color:$blue;
}
.btn-blue:hover{
	@extend .btn:hover;
	color:$blue;
	border:1px solid $blue;
}
.btn-red{
	@extend .btn;
	background-color:$red;
}
.btn-red:hover{
	@extend .btn:hover;
	color:$red;
	box-sizing:border-box;
	border:1px solid $red;

}
.btn-green{
	@extend .btn;
	background-color:$green;
}
.btn-green:hover{
	@extend .btn:hover;
	color:$green;
	border:1px solid $green;
}

button,
input {
	line-height: normal;
	overflow: visible;  
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	background: #e6e6e6;
	color: #262626;
	cursor: pointer; 
	-webkit-appearance: button; 
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 2px 2%;

	&:hover{
	border-color: #ccc #bbb #aaa #bbb;
	}

	&:active{
	border-color: #aaa #bbb #bbb #bbb;

	}

	&:focus{
	border-color: #aaa #bbb #bbb #bbb;
	}
}



input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=search],
input[type=password],
select,
textarea {
	color: #ccc;
	border: 1px solid #9B9191;

	&:focus{
	color: #111;
	}
}

