*{
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

html{
  height: 100%;
}
body {
	line-height: 1;
  background-image:url(img/back.png);
  background: #f2f2f2;
  
  min-height: 100%;
  position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,textarea,select{
   font-size: 1.2em;
    &[type="submit"]{
      font-size: 1.5em;
    }
}

header{
  background-color: #262626;
  a{
    text-decoration: none;
    color: white;
  }
  h1{
    color: white;
    transition-property: color;
    transition-duration: 0.5s;
    &:hover{
        color: #27AE60;
    }
  }
}

.bandeau{
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.25);
  height: 100px;
}


nav {
  margin:auto;
  @include Font(20px,300,$titre,black);
    ul {
      list-style-type:none;
      margin:0;
      padding:0;

      li {
        display:inline-block;
        float: left;
        margin-right: 1px;

        a {
            display:block;
            min-width:140px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            background: #2f3036;
            text-decoration: none;

            &:hover{
                background: #19c589;
            }
          }
      }

    }




li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

li ul {
  display: none;
}

li ul li {
  display: block;
  float: none;
}

li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
  cursor:pointer;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}


}

.categ {
    li{
      display: block;
      padding-right:5px;
      padding-top: 5px;
      font-size: 1.5em;
      
      a{
        color: black;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
          color: #27AE60;
        }
      }
    }
}

.log{
    input{
      width: 32%;
      height: 25px;
      font-size: 1.2em;
          &[type="submit"]{
        width: 28%;
        height:27px;
      font-size: 1.2em;
    }

    }
}


.annonce{
  border-bottom: 1px solid grey;
  margin-top: 2%;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.25);



        img {
          float: left;
            margin-right: 2%;
            padding-bottom: 5px;
        }
           p{
              width: 95%;
              padding: 15px;
              text-align: justify;

              a{
                color: black;
              }


           } 
        h3{
          a{
            text-decoration: none;
            color: black;
            &:hover{
             text-decoration: underline;
             color: #27AE60;
            }
          }
        }
    &:last-child{margin-bottom: 5%;}

    
}
   
.search{
  margin-top:5%;
  padding-bottom: 45px;
  border-bottom: 1px solid grey;
  h5{
    margin-bottom:2%;
  }
  input{
    width: 49%;
    height: 22px;
    margin-top:2%; 
    &[type="number"]{
        width: 15.5%;

    }
    &[type="submit"]{
        width: 100%;
        margin-top:4%; 
        height: 30px;

    }
    
  }
  select{
    width: 49.8%;
  }
}

.detail{
   border-bottom: 1px solid grey;
   margin-top:5%;


        img {
            float: left;
            margin:1%;
            
            &:after{
              clear: both;
        }
      }
           p{
              width: 95%;
              padding: 15px;
              text-align: justify;

           }

           ul{
            padding: 15px;
            font-size: 1.2em;
            li{
              padding-top: 5px;
            }
           } 

        h3{
          a{
            text-decoration: none;
            color: black;
            &:hover{
             text-decoration: underline;
            }
          }
        }
 
}
.ajout{
    input{
    width: 49%;
    height: 22px;
    margin-top:2%; 
    &[type="number"]{
        width: 49%;

    }
    &[type="submit"]{
        width: 100%;
        margin-top:2%;
        height: 25px; 
    }
    &[type="file"]{
        width: 100%;
    }
    

  }
  select{
    width: 49.5%;
        height: 23px; 
 
  }
  textarea{
      width: 99%;
      margin-top:2%;
      max-width: 99%;
    }
    label{
      display: block;
      margin-top:2%;
      font-size: 1.0em; 

    }
    legend{
      font-size: 1.8em;
      padding: 5px;
    }
fieldset
{
    border:1px dashed #262626;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;  
    padding: 5px;
}

}

.cont_annonce{
  h1,h2,h3,h4,h5{
    margin-left: 13.5%;
    &:first-child{margin-top: 5%;}

  }
}



footer{
   position: absolute;
top: 100%;
height: 50px;
width: 100%;

    background-color: #262626;
  text-align: center;
  aside{
    padding-top: 15px;
  }
  p{
    display: inline;
  }
  a{
    text-decoration: none;
    color: white;
    padding: 15px;
    transition-property: color;
    transition-duration: 0.5s;
    &:hover{
        color: #27AE60;
    }
    }

 
}

@media screen and (min-width: 0px) and (max-width:1200px) {
  .ajout{
      input{
        display: block;
        width: 100%;

    }
    select{
      display: block;
      margin-top: 2%;
      width: 100%;
    }
  }

  .search{
      input{
        display: block;
        width: 100%;

    }
    select{
      display: block;
      margin-top: 2%;
      width: 100%;
    }
    label{
      margin-top:2%; 
    }
  }

  .detail{
    img{
      width: 30%;
    }
    
  }


  nav{
    ul {
      position: static;
      display: none;
    }
    li {
      margin-bottom: 1px;
    }
    ul li, li a {
        positon:absolute;

      width: 100%;
    }
    .show-menu {
      display:block;
    }
  }

}

@media screen and (min-width: 0px) and (max-width:850px) {
  header{
  h1{
    font-size: 2.5em;
    }

    nav {
      font-size: 1.5em;
      ul{
        font-size: 0.8em;
        ul{
          font-size: 1em;
        }
      }
    }
  
  }
  .categ {
    width: auto;
}
}

@media screen  and (max-width:680px) {
    header{

      nav {
        font-size: 1.9em;
        margin-left: -13.5%;
        ul{
          font-size: 0.7em;


        }
      }
    }

  .bandeau{
    h6{
      font-size: 19px;
      }
    ul{
      width: 100%;
    }
    li{
    font-size: 1em;
    width: 100%;
    }

  } 
}
@media screen  and (max-width:650px) {
    .bandeau{
      height: 245px;
    h6{
      font-size: 19px;
      }
    ul{
      width: 100%;
    }
    li{
    font-size: 1em;
    width: 100%;
    }

  } 
  .log{
        input{
          font-size: 0.8em;
          width: 100%;
            &[type="submit"]{

            width: 100%;
            height: 25px;
          font-size: 0.8em;
          margin-top:5px;
        }

        }
    }

.annonce{
  p{
    margin-right: 5px;
  }
}
}

@media screen  and (max-width:450px) {
  .annonce{
    img{
      clear: both;
    }
    .infoannonce{
      clear: both;
      display: block;
    }
  }
}
