	//Grille 8 colonnes 
//Taille colonne
$col:10.50%;
$gout:2%;

/*.col1 {
	width:$col; 
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col2 {
	width:2*$col+$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col3 {
	width:3*$col+2*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col4 {
	width:4*$col+3*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col5 {
	width:5*$col+4*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col6 {
	width:6*$col+5*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col7 {
	width:7*$col+6*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

.col8 {
	width:8*$col+7*$gout;
	display:inline-block;
	box-sizing:border-box;
	border:1px solid grey;
	margin:0 1%;
}

//Decalage colonne 

.offset1 {
	margin-left:$col+2*$gout; 
}

.offset2 {
	margin-left:2*$col+3*$gout; 
}

.offset3 {
	margin-left:3*$col+4*$gout; 
}

.offset4 {
	margin-left:4*$col+5*$gout; 
}

.offset5 {
	margin-left:5*$col+6*$gout; 
}

.offset6 {
	margin-left:6*$col+7*$gout; 
}

.offset7 {
	margin-left:7*$col+8*$gout; 
}

.ligneH {
	height:50px;
}

.ligneC {
	height:auto;
	margin-top:5%; 
}

.ligneF {
	height:auto;
	margin-top:5%;	
}
//Conteneur generale

.contentGrid{
	width:100%;
	display:block;
	font-size:0em;
}

.contentGrid section {
	font-size:0.8rem;
}*/

////////////////////////////////////////////////////////////
//////////////| Grille avec float |////////////////////////
//////////////////////////////////////////////////////////

	//Grille 8 colonnes 
//Taille colonne

.col1 {
	width:$col;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col2 {
	width:2*$col+$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col3 {
	width:3*$col+2*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col4 {
	width:4*$col+3*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col5 {
	width:5*$col+4*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col6 {
	width:6*$col+5*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col7 {
	width:7*$col+6*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

.col8 {
	width:8*$col+7*$gout;
	float:left;
	box-sizing:border-box;
	border:1px solid grey;
	padding:2px;
	margin:0 1%;
}

//Decalage colonne 

.offset1 {
	margin-left:$col+2*$gout; 
}

.offset2 {
	margin-left:2*$col+3*$gout; 
}

.offset3 {
	margin-left:3*$col+4*$gout; 
}

.offset4 {
	margin-left:4*$col+5*$gout; 
}

.offset5 {
	margin-left:5*$col+6*$gout; 
}

.offset6 {
	margin-left:6*$col+7*$gout; 
}

.offset7 {
	margin-left:7*$col+8*$gout; 
}

//Conteneur generale

.contentGrid{
	width:100%;
	font-size:0em;
}

.contentGrid section {
	font-size:0.8rem;
}

.clearfix {
	clear:both;
}