$nb_col:8;
$larg_col:10.5;
$gout:(100% - ( $larg_col * $nb_col ) ) / ( $nb_col );
@mixin grid ($nb_col,$larg_col,$gout) {
	@for $i from 1 through $nb_col {
		.col#{$i} {
			width:$i*$larg_col+($i - 1)*$gout;
			box-sizing:border-box;
			display:inline-block;
			padding:2px;
			box-sizing: border-box;
			font-size: 0.8rem;
		}

		.offset#{$i} {margin-left:$i*$larg_col+$i*$gout+1;}
	}
}

.contentGrid {
	@include grid ($nb_col , $larg_col , $gout);
 	font-size: 0em;


	&:last-child{
		display: block;

	}
	
}

@media screen and (min-width: 0px) and (max-width:650px) {

@mixin grid ($nb_col,$larg_col,$gout) {
	@for $i from 1 through $nb_col {
		.col#{$i} {
			width:$i*$larg_col+($i - 1)*$gout;
			box-sizing:border-box;
			display:block;
			padding:2px;
			box-sizing: border-box;
			font-size: 1rem;
		}

		.offset#{$i} {margin-left:$i*$larg_col+$i*$gout+1;}
	}
}

.contentGrid {
	@include grid ($nb_col , $larg_col , $gout);
 	font-size: 0em;

 	.col4{
 		width: 80%;
 		display:inline;
 	}


	&:last-child{
		display: block;

	}
	
}



}