@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:300|Arvo|Poiret+One);
/*TITRE,TAILLE,FONT*/
h1 {
  font-size: 60px;
  font-weight: 500;
  font-family: "Roboto";
  color: #1e4a66; }

h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Roboto";
  color: #1e4a66; }

h3 {
  font-size: 35px;
  font-weight: 300;
  font-family: "Roboto";
  color: #1e4a66; }

h4 {
  font-size: 30px;
  font-weight: 200;
  font-family: "Roboto";
  color: #1e4a66; }

h5 {
  font-size: 25px;
  font-weight: 100;
  font-family: "Roboto";
  color: #1e4a66; }

h6 {
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto";
  color: #1e4a66; }

small {
  font-size: 12px;
  font-weight: 100;
  font-family: "Poiret One";
  color: grey; }

/*PARAGRAPHE*/
p {
  margin-bottom: 9px;
  font-size: 15px;
  font-weight: 100;
  font-family: "Roboto";
  color: black; }

/*BALISE DE TEXTE*/
strong {
  font-weight: bold;
  background-color: red; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

code {
  background-color: #D0F1F7;
  font-style: italic; }

pre {
  background-color: #696969;
  font-style: italic;
  color: white; }

kbd {
  background-color: #F5CEE4;
  font-style: italic;
  color: black; }

/*LIST*/
ul li {
  list-style-position: inside;
  list-style-type: circle;
  font-size: 1em;
  font-weight: 100;
  font-family: "Roboto";
  color: black; }

.puce-img {
  list-style-position: inside;
  list-style-image: url("ressources/puce.jpg"); }

li .puce-none {
  list-style: none; }

li .puce-square {
  list-style-type: square; }

/*TEXT STYLE*/
.text-align-right {
  text-align: right; }

.text-align-left {
  text-align: left; }

.text-align-center {
  text-align: center; }

.text-align-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.minuscule {
  text-transform: capitalize; }

/*BOUTON*/
.btn, .btn-xsmall, .btn-small, .btn-large, .btn-xlarge, .btn-blue, .btn-red, .btn-green {
  font-family: Arial,sans-serif;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition-property: border-radius;
  transition-duration: 0.1s;
  border: none;
  padding: 7px;
  color: white;
  box-sizing: border-box; }
  .btn:hover, .btn-xsmall:hover, .btn-small:hover, .btn-large:hover, .btn-xlarge:hover, .btn-blue:hover, .btn-red:hover, .btn-green:hover {
    border-radius: 7px;
    background-color: white;
    box-sizing: border-box; }

.btn-xsmall {
  font-size: 70%; }

.btn-small {
  font-size: 80%; }

.btn-large {
  font-size: 110%; }

.btn-xlarge {
  font-size: 125%; }

.btn-blue {
  background-color: #42b8dd; }

.btn-blue:hover {
  color: #42b8dd;
  border: 1px solid #42b8dd; }

.btn-red {
  background-color: #ca3c3c; }

.btn-red:hover {
  color: #ca3c3c;
  box-sizing: border-box;
  border: 1px solid #ca3c3c; }

.btn-green {
  background-color: #8ac007; }

.btn-green:hover {
  color: #8ac007;
  border: 1px solid #8ac007; }

button,
input {
  line-height: normal;
  overflow: visible; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  background: #e6e6e6;
  color: #262626;
  cursor: pointer;
  -webkit-appearance: button;
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 2px 2%; }
  button:hover,
  html input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa #bbb; }
  button:active,
  html input[type="button"]:active,
  input[type="reset"]:active,
  input[type="submit"]:active {
    border-color: #aaa #bbb #bbb #bbb; }
  button:focus,
  html input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb #bbb; }

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=search],
input[type=password],
select,
textarea {
  color: #ccc;
  border: 1px solid #9B9191; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=search]:focus,
  input[type=password]:focus,
  select:focus,
  textarea:focus {
    color: #111; }

.alert-box {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 11px;
  padding: 10px 10px 10px 36px;
  margin: 10px; }

.alert-box span {
  font-weight: bold;
  text-transform: uppercase; }

.error {
  background: #ffecec url("img/error.png") no-repeat 10px 50%;
  border: 1px solid #ca3c3c; }

.success {
  background: #e9ffd9 url("img/success.png") no-repeat 10px 50%;
  border: 1px solid #8ac007; }

.warning {
  background: #fff8c4 url("img/warning.png") no-repeat 10px 50%;
  border: 1px solid #f2c779; }

.notice {
  background: #e3f7fc url("img/notice.png") no-repeat 10px 50%;
  border: 1px solid #42b8dd; }

* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
html {
  height: 100%; }

body {
  line-height: 1;
  background-image: url(img/back.png);
  background: #f2f2f2;
  min-height: 100%;
  position: relative; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, select {
  font-size: 1.2em; }
  input[type="submit"], textarea[type="submit"], select[type="submit"] {
    font-size: 1.5em; }

header {
  background-color: #262626; }
  header a {
    text-decoration: none;
    color: white; }
  header h1 {
    color: white;
    transition-property: color;
    transition-duration: 0.5s; }
    header h1:hover {
      color: #27AE60; }

.bandeau {
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.25);
  height: 100px; }

nav {
  margin: auto;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto";
  color: black; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      float: left;
      margin-right: 1px; }
      nav ul li a {
        display: block;
        min-width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        background: #2f3036;
        text-decoration: none; }
        nav ul li a:hover {
          background: #19c589; }
  nav li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px; }
  nav li:hover ul a:hover {
    background: #19c589;
    color: #fff; }
  nav li ul {
    display: none; }
  nav li ul li {
    display: block;
    float: none; }
  nav li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px; }
  nav ul li a:hover + .hidden, nav .hidden:hover {
    display: block; }
  nav .show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
    cursor: pointer; }
  nav input[type=checkbox] {
    display: none; }
  nav input[type=checkbox]:checked ~ #menu {
    display: block; }

.categ li {
  display: block;
  padding-right: 5px;
  padding-top: 5px;
  font-size: 1.5em; }
  .categ li a {
    color: black;
    text-decoration: none; }
    .categ li a:hover {
      text-decoration: underline;
      color: #27AE60; }

.log input {
  width: 32%;
  height: 25px;
  font-size: 1.2em; }
  .log input[type="submit"] {
    width: 28%;
    height: 27px;
    font-size: 1.2em; }

.annonce {
  border-bottom: 1px solid grey;
  margin-top: 2%;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.25); }
  .annonce img {
    float: left;
    margin-right: 2%;
    padding-bottom: 5px; }
  .annonce p {
    width: 95%;
    padding: 15px;
    text-align: justify; }
    .annonce p a {
      color: black; }
  .annonce h3 a {
    text-decoration: none;
    color: black; }
    .annonce h3 a:hover {
      text-decoration: underline;
      color: #27AE60; }
  .annonce:last-child {
    margin-bottom: 5%; }

.search {
  margin-top: 5%;
  padding-bottom: 45px;
  border-bottom: 1px solid grey; }
  .search h5 {
    margin-bottom: 2%; }
  .search input {
    width: 49%;
    height: 22px;
    margin-top: 2%; }
    .search input[type="number"] {
      width: 15.5%; }
    .search input[type="submit"] {
      width: 100%;
      margin-top: 4%;
      height: 30px; }
  .search select {
    width: 49.8%; }

.detail {
  border-bottom: 1px solid grey;
  margin-top: 5%; }
  .detail img {
    float: left;
    margin: 1%; }
    .detail img:after {
      clear: both; }
  .detail p {
    width: 95%;
    padding: 15px;
    text-align: justify; }
  .detail ul {
    padding: 15px;
    font-size: 1.2em; }
    .detail ul li {
      padding-top: 5px; }
  .detail h3 a {
    text-decoration: none;
    color: black; }
    .detail h3 a:hover {
      text-decoration: underline; }

.ajout input {
  width: 49%;
  height: 22px;
  margin-top: 2%; }
  .ajout input[type="number"] {
    width: 49%; }
  .ajout input[type="submit"] {
    width: 100%;
    margin-top: 2%;
    height: 25px; }
  .ajout input[type="file"] {
    width: 100%; }
.ajout select {
  width: 49.5%;
  height: 23px; }
.ajout textarea {
  width: 99%;
  margin-top: 2%;
  max-width: 99%; }
.ajout label {
  display: block;
  margin-top: 2%;
  font-size: 1.0em; }
.ajout legend {
  font-size: 1.8em;
  padding: 5px; }
.ajout fieldset {
  border: 1px dashed #262626;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px; }

.cont_annonce h1, .cont_annonce h2, .cont_annonce h3, .cont_annonce h4, .cont_annonce h5 {
  margin-left: 13.5%; }
  .cont_annonce h1:first-child, .cont_annonce h2:first-child, .cont_annonce h3:first-child, .cont_annonce h4:first-child, .cont_annonce h5:first-child {
    margin-top: 5%; }

footer {
  position: absolute;
  top: 100%;
  height: 50px;
  width: 100%;
  background-color: #262626;
  text-align: center; }
  footer aside {
    padding-top: 15px; }
  footer p {
    display: inline; }
  footer a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition-property: color;
    transition-duration: 0.5s; }
    footer a:hover {
      color: #27AE60; }

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .ajout input {
    display: block;
    width: 100%; }
  .ajout select {
    display: block;
    margin-top: 2%;
    width: 100%; }

  .search input {
    display: block;
    width: 100%; }
  .search select {
    display: block;
    margin-top: 2%;
    width: 100%; }
  .search label {
    margin-top: 2%; }

  .detail img {
    width: 30%; }

  nav ul {
    position: static;
    display: none; }
  nav li {
    margin-bottom: 1px; }
  nav ul li, nav li a {
    positon: absolute;
    width: 100%; }
  nav .show-menu {
    display: block; } }
@media screen and (min-width: 0px) and (max-width: 850px) {
  header h1 {
    font-size: 2.5em; }
  header nav {
    font-size: 1.5em; }
    header nav ul {
      font-size: 0.8em; }
      header nav ul ul {
        font-size: 1em; }

  .categ {
    width: auto; } }
@media screen and (max-width: 680px) {
  header nav {
    font-size: 1.9em;
    margin-left: -13.5%; }
    header nav ul {
      font-size: 0.7em; }

  .bandeau h6 {
    font-size: 19px; }
  .bandeau ul {
    width: 100%; }
  .bandeau li {
    font-size: 1em;
    width: 100%; } }
@media screen and (max-width: 650px) {
  .bandeau {
    height: 245px; }
    .bandeau h6 {
      font-size: 19px; }
    .bandeau ul {
      width: 100%; }
    .bandeau li {
      font-size: 1em;
      width: 100%; }

  .log input {
    font-size: 0.8em;
    width: 100%; }
    .log input[type="submit"] {
      width: 100%;
      height: 25px;
      font-size: 0.8em;
      margin-top: 5px; }

  .annonce p {
    margin-right: 5px; } }
@media screen and (max-width: 450px) {
  .annonce img {
    clear: both; }
  .annonce .infoannonce {
    clear: both;
    display: block; } }
.contentGrid {
  font-size: 0em; }
  .contentGrid .col1 {
    width: 10.5%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset1 {
    margin-left: 13.5%; }
  .contentGrid .col2 {
    width: 23%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset2 {
    margin-left: 26%; }
  .contentGrid .col3 {
    width: 35.5%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset3 {
    margin-left: 38.5%; }
  .contentGrid .col4 {
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset4 {
    margin-left: 51%; }
  .contentGrid .col5 {
    width: 60.5%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset5 {
    margin-left: 63.5%; }
  .contentGrid .col6 {
    width: 73%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset6 {
    margin-left: 76%; }
  .contentGrid .col7 {
    width: 85.5%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset7 {
    margin-left: 88.5%; }
  .contentGrid .col8 {
    width: 98%;
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    box-sizing: border-box;
    font-size: 0.8rem; }
  .contentGrid .offset8 {
    margin-left: 101%; }
  .contentGrid:last-child {
    display: block; }

@media screen and (min-width: 0px) and (max-width: 650px) {
  .contentGrid {
    font-size: 0em; }
    .contentGrid .col1 {
      width: 10.5%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset1 {
      margin-left: 13.5%; }
    .contentGrid .col2 {
      width: 23%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset2 {
      margin-left: 26%; }
    .contentGrid .col3 {
      width: 35.5%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset3 {
      margin-left: 38.5%; }
    .contentGrid .col4 {
      width: 48%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset4 {
      margin-left: 51%; }
    .contentGrid .col5 {
      width: 60.5%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset5 {
      margin-left: 63.5%; }
    .contentGrid .col6 {
      width: 73%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset6 {
      margin-left: 76%; }
    .contentGrid .col7 {
      width: 85.5%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset7 {
      margin-left: 88.5%; }
    .contentGrid .col8 {
      width: 98%;
      box-sizing: border-box;
      display: block;
      padding: 2px;
      box-sizing: border-box;
      font-size: 1rem; }
    .contentGrid .offset8 {
      margin-left: 101%; }
    .contentGrid .col4 {
      width: 80%;
      display: inline; }
    .contentGrid:last-child {
      display: block; } }

/*# sourceMappingURL=style.css.map */
