@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*TITRE,TAILLE,FONT*/

h1, h2, h3, h4, h5, h6{
	color: black;
	font-family: 'Open Sans';

}

h1{
	font-size: 45px;
	font-weight: 500;
}
h2{
	font-size: 40px;
	font-weight: 400;
}
h3{
	font-size: 35px;
	font-weight: 300;
}
h4{
	font-size: 30px;
	font-weight: 200;
}
h5{
	font-size: 25px;
	font-weight: 150;
}
h6{
	font-size: 20px;
	font-weight: 100;
}

small{
	font-size: 15px;
	font-family: 'Open Sans';
	font-weight: 100;
	color: grey;
}
.small-title{
	font-size: 15px;
	font-family: 'Open Sans';
	font-weight: 100;
	color: grey;
}
/*PARAGRAPHE*/
p{
	margin-bottom: 9px;
}
/*BALISE DE TEXTE*/>
strong{
	font-weight: bold;
	background-color: red;
}

blockquote{
	  background: #f9f9f9;
	  border-left: 10px solid #ccc;
	  margin: 1.5em 10px;
	  padding: 0.5em 10px;
	  quotes: "\201C""\201D""\2018""\2019";
}

code{
	background-color: #D0F1F7;
	font-style: italic;
}
pre{
	background-color: #696969;
	font-style: italic;
	color: white;
}
kbd{
	background-color: #F5CEE4;
	font-style: italic;
	color: black;
}	

/*LIST*/
ul li{
	list-style-position: inside;
    list-style-type:circle;
}

.puce-img{
	list-style-position: inside;
    list-style-type:url('ressources/puce.jpg');
}

li .puce-none{
	list-style:none;
}
li .puce-square{
    list-style-type:square;
}
/*TEXT STYLE*/
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}
.text-align-center{
	text-align: center;
}
.text-align-justify{
	text-align: justify;
}
.uppercase{
	text-transform: uppercase;
}
.minuscule{
	text-transform : capitalize;
}

/*BOUTON*/

.btn{
	font-family: Arial,sans-serif;
	font-weight: bold;
	border-radius: 7px;
	cursor: pointer;
	transition-property:border-radius;
	transition-duration:0.1s;
	border: none;
}
.btn:hover{
	border-radius: 11px;
}
.btn-xsmall {
    font-size: 70%;
}

.btn-small {
	font-size: 85%;
}

.btn-large {
    font-size: 110%;
}

.btn-xlarge {
    font-size: 125%;
}
.btn-blue{
	background-color:rgb(66, 184, 221);
	color: white;

}
.btn-blue:hover{
	background-color:rgb(66, 184, 199);
}
.btn-red{
	background-color:rgb(202, 60, 60);
	color: white;
}
.btn-red:hover{
	background-color:white;
	color:rgb(202, 60, 60);
	border:1px solid rgb(202, 60, 60);
}
.btn-green{
	background-color:#8ac007;
	color: white;

}
.btn-green:hover{
	background-color:white;
	color:#8ac007;
	border:1px solid #8ac007;
}