@import url(http://fonts.googleapis.com/css?family=Roboto:300|Arvo|Poiret+One);
/*TITRE,TAILLE,FONT*/
$titre:'Roboto';
$texte:'Roboto';
$autre-font:'Poiret One';
@mixin Font($font-size, $font-weight, $font,$color){
	font-size: $font-size;
	font-weight: $font-weight;
	font-family:$font;
	color: $color;
}
h1{
	@include Font(60px,500,$titre,#1e4a66);
}
h2{
	@include Font(40px,400,$titre,#1e4a66);
}
h3{
	@include Font(35px,300,$titre,#1e4a66);
}
h4{
	@include Font(30px,200,$titre,#1e4a66);
}
h5{
	@include Font(25px,100 ,$texte,#1e4a66);
}
h6{
	@include Font(20px,100 , $texte,#1e4a66);
}

small{
	@include Font(12px,100 ,$autre-font,grey);
	
}
/*PARAGRAPHE*/
p{
	margin-bottom: 9px;
	@include Font(15px, 100,$texte,black);
}
/*BALISE DE TEXTE*/
strong{
	font-weight: bold;
	background-color: red;
}

blockquote{
	  background: #f9f9f9;
	  border-left: 10px solid #ccc;
	  margin: 1.5em 10px;
	  padding: 0.5em 10px;
	  quotes:"\201C""\201D""\2018""\2019";
}

code{
	background-color: #D0F1F7;
	font-style: italic;
}
pre{
	background-color: #696969;
	font-style: italic;
	color: white;
}
kbd{
	background-color: #F5CEE4;
	font-style: italic;
	color: black;
}	

/*LIST*/
ul li{
	list-style-position: inside;
    list-style-type:circle;
    @include Font(1em,100, $titre,black);
}

.puce-img{
	list-style-position: inside;
    list-style-image :url('ressources/puce.jpg');
}

li .puce-none{
	list-style:none;
}
li .puce-square{
    list-style-type:square;
}
/*TEXT STYLE*/
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}
.text-align-center{
	text-align: center;
}
.text-align-justify{
	text-align: justify;
}
.uppercase{
	text-transform: uppercase;
}
.minuscule{
	text-transform : capitalize;
}